/**************************************
GENERAL
***************************************/

* {
  box-sizing: border-box;
}

/* Site Body*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}


/**************************************
HEADING
***************************************/

header {
  max-width: 100%;
  background-color: #239C8A;
}


/**************************************
NAVIGATION
***************************************/


nav {
  width: 100%;
}

#logo {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
  font-size: 2rem;
  text-decoration: none;
}

nav ul {
  display: inline-block;
  float: right;
  text-align: justify;
  list-style: none;
  margin-top: 5%;
}

nav li {
  display: inline-block;
  font-size: 1.5rem;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/*Links*/
a {
  color: #6ab47b;
}


/* Nav Link */
nav a, nav a:visited {
  color: #fff;
}

/*Selected Nav Link Color*/
nav a.selected, nav a:hover {
  color: #32673f;
}


/**************************************
Homepage Images
***************************************/

#wrapperImg {
  max-width: 80%
  margin: 0 10%;
}

.homepageImg {
  display: inline-block;
  max-width: 300px;
  height: 300px;
  margin: 5% auto;
}

.homepageGallery li {
  float: left;
  max-width: 30%;
  margin: 5% 1.66%;
}

/**************************************
FOOTER
***************************************/

footer {
  clear: both;
  width: 100%;
  background-color: #4C4850;
  color: whitesmoke;
  text-align: center;
}

.social-icon {
  max-width: 40px;
  max-height: 40px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 80px;
}


/**************************************

***************************************/


/****************************************************************************
              Culture Page
*****************************************************************************/


/*styles for the culture page column*/
#cultureTitle {
  text-align: center;
}

/*aligns the text divs into 2 columns*/
.cultureCols {
  display: inline-block;
  width: 39%;
  vertical-align: top;
}

/*styles the images */
.cultureImg {
  height: 70%;
  width: 50%;
  float: left;
  border-radius: 2em;
  padding-right: 2%;
}


/*styles for both columns*/

.cultureCols p {
  margin: 0;
  text-align: justify;
}

/*sets the margin for the left column*/
#culCol1 {
  margin: 0 3.5% 0 7%;
}

/*sets the margin for the right column*/
#culCol2 {
  margin: 0 7% 0 3.5%;
}